
/* @media(max-width:992px){
    .home_section{
        padding: 174px 0 86px;
    }
}
@media(max-width:992px){
    .home_section_MQ1{
        flex-direction: column-reverse;
    }
}

@media(max-width:992px){
    .intro{
        text-align: center;
        margin-top: 40px;
    }
    .intro h1{
        font-size: 30px;
    }
}
@media(min-width:992px){
    .my_achievements{
        margin-top: 150px;
    }
}
@media(max-width:992px){
    .my_achievements{
        margin-top: 30px;
    }
}

@media(min-width:992px){
    .about_content{
        position:relative;
        top: 80px;
    }
}

@media(max-width:992px){
    .p2div{
        text-align: center;
        margin-bottom:25px;
    }
    .p2div h1{
        font-size: 25px;
    }
    .p2_btn{
        margin-top: 25px;
    }
}
@media(max-width: 768px){
    .process_content h1{
        font-weight: 300;
        font-size: 30px;
        
    }
}
@media(max-width: 768px){
    .process_section{
        height: 1500px;
    }
}

@media(max-width: 768px){
    .research_analyze{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .research{
        width: 100%;
    }
    .analyze{
        width: 100%;
    }
}
@media(max-width: 768px){
    .design_launch{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .design{
        width: 100%;
    }
    .launch{
        width: 100%;
    }
}
@media(max-width:992px){
    .project_discuss h1{
        font-size: 30px;
        font-weight: 400;
    }
}
@media(max-width:992px){
    .card_section h1{
        font-size: 40px;
        font-weight: 500;
    }
}
@media(max-width:992px){
    .work_together{
        width: 100%;
        
    }
    .work_together h1{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .contact_content{
        flex-direction: column-reverse;
    }
}
@media(min-width:576px) and (max-width:992px){
    .contact_info{
        flex-direction: row;
    }  
    .add{
        width: 30%;
        font-size: 10px;
        padding: 0%;
    }
    .mail{
        width: 30%;
        font-size: 10px;
        padding: 0%;
    }
    .call{
        width: 30%;
        font-size: 10px;
        padding: 0%;
    }
}
@media(max-width:992px){
    .my_detail_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 25px;
    }
    .contact_info{
        position: relative;
        top: 10px;
    }
    .social_logo{
        position: relative;
        top: 10px;
    }
}

@media(max-width:992px){
    .sub_btn{
        text-align: center;
    }
}
@media(max-width:992px){
    footer{
        height: 330px;
    }
    .footer_links{
        position: relative;
        top: 18px;
    }
    .footer_copyright{
        position: relative;
        top: 25px;
    }
    .developer{
         position: relative;
        top: 25px;
    }
} */

@media(max-width:992px){
    .home_section{
        padding: 174px 0 86px;
    }
    .home_section_MQ1{
        flex-direction: column-reverse;
        text-align: center;
    }
    .intro{
        text-align: center;
        margin-top: 40px;
    }
    .intro h1{
        font-size: 30px;
    }
    .my_achievements{
        margin-top: 70px;
    }
    .p2div{
        text-align: center;
        margin-bottom:25px;
    }
    .p2div h1{
        font-size: 25px;
    }
    .p2_btn{
        margin-top: 25px;
    }
    .process_content h1{
        font-weight: 400;
        font-size: 30px;
        
    }
    .project_discuss h1{
        font-size: 30px;
        font-weight: 400;
    }
    .card_section h1{
        font-size: 40px;
        font-weight: 500;
    }
    .work_together{
        width: 100%;
        
    }
    .work_together h1{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .contact_content{
        flex-direction: column-reverse;
    }
    .my_detail_section{
        position: relative;
        top: 10px;
    }
    /* .contact_info{
        position: relative;
        top: 10px;
    } */
    /* .social_logo{
        position: relative;
        top: 10px;
    } */
    .sub_btn{
        text-align: center;
    }
    footer{
        height: 330px;
    }
    .footer_links{
        position: relative;
        top: 18px;
    }
    .footer_copyright{
        position: relative;
        top: 25px;
    }
    .developer{
         position: relative;
        top: 25px;
    }
}
@media(max-width:450px){
  .navigation-wrap{
    overflow-x: hidden;
  }
    .home_section{
        padding: 90px 0 50px;
    }
    .p1div{
        position: relative;
        bottom: 100px;
    }
    .intro{
        position: relative;
        top: 20px;
    }
    .achieve1{
        height: 90px;
        align-content: center;
    }
    .achieve2{
        height: 90px;
        align-content: center;
    }
    .achieve3{
        height: 90px;
        align-content: center;
    }
    .achieve1 h3{
        font-size: 17px;
    }
    .achieve2 h3{
        font-size: 17px;
    }
    .achieve3 h3{
       font-size: 17px;
    }
    .achieve1 p{
        font-size: 12px;
    }
    .achieve2 p{
        font-size: 12px;
    }
    .achieve3 p{
       font-size: 12px;
    }
    .process_content h1{
        font-weight: 400;
        font-size: 30px;
    }
    .process_section{
        height: 1630px;
    }
    .process_content{
        position: relative;
         top: 20px;
         /* margin-top: 20px; */
    }
    .research_analyze{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .research{
        width: 100%;
    }
    .analyze{
        width: 100%;
    }
    .design_launch{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .design{
        width: 100%;
    }
    .launch{
        width: 100%;
    }
    /* .card_section{
         min-height: 75vh;
    } */
    .contact_info{
        position: relative;
        /* right: 22px; */
        right: 7px;
    }
    .add{
        width: 290px;
    }
    .mail{
        width: 290px;
    }
    .call{
        width: 290px;
    }
    .add b{
        font-size: 12px;
    }
    .mail b{
        font-size: 12px;
    }
    .call b{
        font-size: 12px;
    }
    .add p{
        font-size: 15px;
    }
    .mail p{
        font-size: 15px;
    }
    .call p{
        font-size: 15px;
    }
    .social_logo{
        display: flex;
        gap: 10px;
    }
    .footer1{
        position: relative;
        top: 20px;
    }
    .footer_links{
        gap: 10px;
        position: relative;
        top: 30px;
    }
    .developer{
       position: relative;
       top: 20px;
    }
}
@media(max-width:350px){
    .add{
        width: 235px;
    }
    .mail{
        width: 235px;
    }
    .call{
        width: 235px;
    }
    .add b{
        font-size: 10px;
    }
    .mail b{
        font-size: 10px;
    }
    .call b{
        font-size: 10px;
    }
    .add p{
        font-size: 12px;
    }
    .mail p{
        font-size: 12px;
    }
    .call p{
        font-size: 12px;
    }
}

